/* CSS for website */
div.sidebarblock div.content div.title h2 {
    font-size: 180%;
    font-weight: Bold;
}
div.sidebarblock div.content div.paragraph  {
    font-style: italic;
}
div.sidebarblock  {
    background-color: #dddddd
}
