/* CSS for website */
.code {
    background-color: white;
}
div.sidebarblock div.content div.title {
    font-size: 110%;
    font-style: italic;
    font-weight: Bold;
    
}
div.sidebarblock div.content div.paragraph  {
    font-style: italic;
}
div.sidebarblock  {
    background-color: #eeeeee;
    border: 2pt solid #444444;
}
